@font-face {
  font-family: "NunitoRegular";
  src: url("../fonts/Nunito-Regular.ttf"); }

@font-face {
  font-family: "NunitoSemiBold";
  src: url("../fonts/Nunito-SemiBold.ttf"); }

@font-face {
  font-family: "NunitoBold";
  src: url("../fonts/Nunito-Bold.ttf"); }

@font-face {
  font-family: "NunitoExtraBold";
  src: url("../fonts/Nunito-ExtraBold.ttf"); }

@font-face {
  font-family: "Marguaritas";
  src: url("../fonts/Marguaritas.ttf"); }

body {
  margin: 0;
  font-family: "NunitoSemiBold", sans-serif; }

.main {
  background: no-repeat center url("../images/bg-images/main-bg.png");
  background-size: cover; }
  .main .header {
    background: url("../images/bg-images/header-bg.png"); }
    .main .header .header__inner {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px 0 30px 0;
      align-items: center; }
      .main .header .header__inner .menu {
        width: 350px;
        display: flex;
        justify-content: space-between; }
        .main .header .header__inner .menu .menu__item {
          text-decoration: none;
          font-size: 13px;
          color: #2c0526;
          border-bottom: 1px solid transparent;
          padding-bottom: 4px;
          transition: all 0.3s linear; }
          .main .header .header__inner .menu .menu__item:hover {
            transform: scale(1.1);
            font-family: "NunitoExtraBold", sans-serif;
            color: #721163;
            border-bottom: 1px solid #721163; }
      .main .header .header__inner .logo {
        text-decoration: none;
        font-size: 10px;
        color: #430639;
        text-transform: uppercase;
        width: 150px;
        text-align: center; }
        .main .header .header__inner .logo .logo__c-name_style {
          font-size: 55px;
          font-family: "Marguaritas", serif;
          color: #430639;
          text-transform: none; }
      .main .header .header__inner .header__logo {
        position: relative;
        right: 100px; }
      .main .header .header__inner .phone {
        font-size: 14px;
        color: #2c0526; }
  .main .titles {
    max-width: 1200px; }
    .main .titles .titles__title {
      font-family: "NunitoBold", sans-serif;
      color: #430639;
      margin: 0;
      font-size: 36px;
      width: 494px;
      line-height: 52px; }
    .main .titles .titles__title_c-name {
      font-size: 70px;
      font-family: "Marguaritas", serif;
      color: #430639;
      font-weight: normal; }
    .main .titles .titles__text {
      font-size: 20px;
      color: #2c0526;
      max-width: 470px;
      margin: 40px 0; }
    .main .titles .titles__btn {
      background-color: #721163;
      font-size: 16px;
      color: white;
      outline: 0;
      border-radius: 50px;
      border: 0;
      transition: all 0.3s linear;
      padding: 18px 36px;
      text-decoration: none; }
      .main .titles .titles__btn:hover {
        cursor: pointer;
        background-color: #df8ad2; }

.main__titles {
  padding: 168px 0 280px 0;
  margin: 0 auto; }

.about-us {
  overflow: hidden; }
  .about-us .our-features {
    max-width: 1200px; }
    .about-us .our-features .our-features__title {
      font-family: "NunitoBold", sans-serif;
      color: #430639;
      margin: 0;
      font-size: 30px;
      margin-bottom: 65px;
      position: relative; }
      .about-us .our-features .our-features__title:before {
        content: url("../images/bg-flowers/our-features-title-left.png");
        position: absolute;
        top: -137px;
        left: -268px;
        z-index: -1; }
      .about-us .our-features .our-features__title:after {
        content: url("../images/bg-flowers/our-features-title-right.png");
        position: absolute;
        top: -60px;
        right: 0;
        z-index: -1; }
    .about-us .our-features .features {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative; }
      .about-us .our-features .features:before {
        content: url("../images/bg-flowers/features-left.png");
        position: absolute;
        top: 0;
        left: -332px; }
      .about-us .our-features .features:after {
        content: url("../images/bg-flowers/features-right.png");
        position: absolute;
        bottom: 0;
        right: -270px; }
      .about-us .our-features .features .feature {
        display: flex;
        max-width: 426px; }
        .about-us .our-features .features .feature .feature__img-wrap {
          text-align: center;
          width: 114px;
          height: 93px; }
          .about-us .our-features .features .feature .feature__img-wrap .feature__img {
            position: relative;
            top: -74px;
            left: -1px; }
        .about-us .our-features .features .feature .feature__text {
          font-size: 14px;
          font-family: "NunitoRegular", sans-serif;
          color: #2c0526;
          margin: 19px 0 0 25px; }
      .about-us .our-features .features .features__content {
        margin: 0 150px 45px 0; }
        .about-us .our-features .features .features__content:nth-child(3) {
          margin-left: 95px; }
  .about-us .about-us__features {
    margin: 0 auto;
    padding: 150px 0 190px 0; }
  .about-us .our-services {
    max-width: 1200px; }
    .about-us .our-services .our-services__title {
      font-family: "NunitoBold", sans-serif;
      color: #430639;
      margin: 0;
      font-size: 30px;
      position: relative; }
      .about-us .our-services .our-services__title:before {
        content: url("../images/bg-flowers/our-services-title-left.png");
        position: absolute;
        bottom: -212px;
        left: -440px;
        z-index: -1; }
      .about-us .our-services .our-services__title:after {
        content: url("../images/bg-flowers/our-services-title-right.png");
        position: absolute;
        top: -35px;
        right: -90px;
        z-index: -1; }
    .about-us .our-services .our-services__text {
      margin: 31px 0 45px 0;
      width: 575px;
      font-size: 16px;
      font-family: "NunitoRegular", sans-serif; }
    .about-us .our-services .services {
      display: flex;
      justify-content: space-between;
      position: relative; }
      .about-us .our-services .services:before {
        content: url("../images/bg-flowers/services-left.png");
        position: absolute;
        bottom: -40px;
        left: -155px;
        z-index: -1; }
      .about-us .our-services .services:after {
        content: url("../images/bg-flowers/services-right.png");
        position: absolute;
        bottom: -122px;
        right: -319px;
        z-index: -1; }
      .about-us .our-services .services .service {
        border-radius: 8px;
        background-color: #faf7fa;
        box-shadow: 0 2px 16.56px 1.44px rgba(44, 5, 38, 0.1);
        width: 282px; }
        .about-us .our-services .services .service .service__content {
          padding: 26px 15px 30px 15px; }
          .about-us .our-services .services .service .service__content .service__title {
            font-size: 16px; }
          .about-us .our-services .services .service .service__content .service__text {
            font-size: 14px;
            font-family: "NunitoRegular", sans-serif;
            color: #2c0526;
            margin: 17px 0 42px 0;
            height: 95px; }
          .about-us .our-services .services .service .service__content .service__time {
            font-size: 12px;
            color: #721163;
            margin: 0 0 18px 0; }
          .about-us .our-services .services .service .service__content .service__details {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .about-us .our-services .services .service .service__content .service__details .service__price {
              font-size: 16px;
              font-family: "NunitoBold", sans-serif;
              color: #2c0526; }
            .about-us .our-services .services .service .service__content .service__details .service__btn {
              background-color: #721163;
              font-size: 16px;
              color: white;
              outline: 0;
              border-radius: 50px;
              border: 0;
              transition: all 0.3s linear;
              height: 40px;
              padding: 0 23px; }
              .about-us .our-services .services .service .service__content .service__details .service__btn:hover {
                cursor: pointer;
                background-color: #df8ad2; }
  .about-us .about-us__services {
    margin: 0 auto;
    padding-bottom: 115px; }

.promotion {
  background: no-repeat center url("../images/bg-images/promotion-bg.png");
  background-size: cover;
  overflow: hidden;
  z-index: 1; }
  .promotion .promotion__inner {
    padding: 170px 0 210px 0;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    z-index: 1; }
    .promotion .promotion__inner .promotion__title {
      font-family: "NunitoBold", sans-serif;
      color: #430639;
      margin: 0;
      font-size: 30px;
      position: relative;
      z-index: 10; }
      .promotion .promotion__inner .promotion__title:after {
        content: url("../images/bg-flowers/promotion-title-left.png");
        position: absolute;
        top: -86px;
        left: -280px;
        z-index: 10; }
      .promotion .promotion__inner .promotion__title:before {
        content: url("../images/bg-images/promotion-big-circle.png");
        position: absolute;
        top: -175px;
        left: -315px;
        z-index: 5; }
    .promotion .promotion__inner .promotion__text {
      font-size: 18px;
      color: #2c0526;
      margin: 30px 0;
      width: 354px;
      position: relative;
      z-index: 10; }
      .promotion .promotion__inner .promotion__text:after {
        content: url("../images/bg-flowers/promotion-text-left.png");
        position: absolute;
        bottom: -183px;
        left: -348px;
        z-index: 10; }
      .promotion .promotion__inner .promotion__text:before {
        content: url("../images/bg-images/promotion-small-circle.png");
        position: absolute;
        top: -240px;
        left: -380px;
        z-index: 5; }
    .promotion .promotion__inner .promotion__button {
      background-color: #721163;
      font-size: 16px;
      color: white;
      outline: 0;
      border-radius: 50px;
      border: 0;
      transition: all 0.3s linear;
      padding: 17px 40px;
      z-index: 10;
      position: relative; }
      .promotion .promotion__inner .promotion__button:hover {
        cursor: pointer;
        background-color: #df8ad2; }

.info__staff {
  max-width: 1200px;
  padding-top: 135px;
  margin: 0 auto; }

.staff .staff__title {
  font-family: "NunitoBold", sans-serif;
  color: #430639;
  margin: 0;
  font-size: 30px;
  position: relative; }
  .staff .staff__title:before {
    content: url("../images/bg-flowers/staff-title-right.png");
    position: absolute;
    top: -5px;
    right: 5px; }
  .staff .staff__title:after {
    content: url("../images/bg-flowers/staff-title-top.png");
    position: absolute;
    top: -140px;
    right: 231px; }

.staff .staff__text {
  max-width: 517px;
  margin: 30px 0 45px 0;
  font-size: 16px;
  font-family: "NunitoRegular", sans-serif;
  color: #2c0526; }

.staff .staff-carousel {
  position: relative; }
  .staff .staff-carousel:before {
    position: absolute;
    content: url("../images/bg-flowers/staff-carousel-right-middle.png");
    top: 75px;
    right: -115px; }
  .staff .staff-carousel:after {
    position: absolute;
    content: url("../images/bg-flowers/staff-carousel-right-bottom.png");
    bottom: -35px;
    right: -39px;
    z-index: -1; }
  .staff .staff-carousel .staff-carousel__content {
    height: 311px;
    overflow: hidden; }
    .staff .staff-carousel .staff-carousel__content:focus {
      outline: none; }
    .staff .staff-carousel .staff-carousel__content .staff-carousel__img {
      position: relative; }
      .staff .staff-carousel .staff-carousel__content .staff-carousel__img:focus {
        outline: none; }
    .staff .staff-carousel .staff-carousel__content .staff-carousel__text {
      position: relative;
      top: -90px;
      background-color: rgba(255, 255, 255, 0.75);
      width: 251px;
      padding: 10px 0 10px 20px;
      box-sizing: border-box; }
      .staff .staff-carousel .staff-carousel__content .staff-carousel__text .staff-carousel__title {
        font-size: 18px;
        font-family: "NunitoBold", sans-serif;
        color: #2c0526;
        margin: 0; }
      .staff .staff-carousel .staff-carousel__content .staff-carousel__text .staff-carousel__exp {
        font-size: 14px;
        font-family: "NunitoRegular", sans-serif;
        color: #2c0526;
        margin: 10px 0 0 0; }

.info__gallery {
  padding: 155px 0 190px 0;
  position: relative;
  overflow: hidden; }
  .info__gallery .gallery__inner {
    max-width: 1200px;
    margin: 0 auto; }
    .info__gallery .gallery__inner .gallery__title {
      font-family: "NunitoBold", sans-serif;
      color: #430639;
      margin: 0;
      font-size: 30px;
      margin: 0;
      position: relative; }
      .info__gallery .gallery__inner .gallery__title:before {
        position: absolute;
        content: url("../images/bg-flowers/gallery-title-big-right.png");
        top: -180px;
        right: -190px; }
      .info__gallery .gallery__inner .gallery__title:after {
        position: absolute;
        content: url("../images/bg-flowers/gallery-title-small-right.png");
        bottom: -140px;
        right: -345px;
        z-index: -1; }
    .info__gallery .gallery__inner .gallery__text {
      width: 685px;
      font-size: 16px;
      font-family: "NunitoRegular", sans-serif;
      color: #2c0526;
      margin: 30px 0 50px 0; }
  .info__gallery .gallery-carousel {
    position: relative; }
    .info__gallery .gallery-carousel .gallery-carousel__img {
      width: 385px;
      height: 295px; }
  .info__gallery .gallery-arrows {
    position: relative;
    width: 304px;
    margin: 0 auto; }
    .info__gallery .gallery-arrows:before {
      position: absolute;
      content: url("../images/bg-flowers/gallery-arrows-left.png");
      bottom: -60px;
      left: -630px; }
    .info__gallery .gallery-arrows:after {
      position: absolute;
      content: url("../images/bg-flowers/gallery-arrows-right.png");
      bottom: -50px;
      right: -395px;
      z-index: -1; }
    .info__gallery .gallery-arrows .gallery-arrows__prev {
      position: absolute;
      bottom: 1px;
      left: -13px; }
      .info__gallery .gallery-arrows .gallery-arrows__prev:hover {
        cursor: pointer; }
    .info__gallery .gallery-arrows .gallery-arrows__next {
      position: absolute;
      bottom: 1px;
      right: -13px; }
      .info__gallery .gallery-arrows .gallery-arrows__next:hover {
        cursor: pointer; }

.faq {
  background: no-repeat center url("../images/bg-images/faq-bg-img.png");
  background-size: cover;
  height: 900px; }
  .faq .faq__title {
    font-family: "NunitoBold", sans-serif;
    color: #430639;
    margin: 0;
    font-size: 30px;
    margin-bottom: 50px;
    position: relative; }
    .faq .faq__title:before {
      position: absolute;
      content: url("../images/bg-flowers/faq-title-left-top.png");
      bottom: -183px;
      left: -260px; }
    .faq .faq__title:after {
      position: absolute;
      content: url("../images/bg-flowers/faq-title-left-bottom.png");
      bottom: -575px;
      left: -395px; }
  .faq .faq__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 0; }
    .faq .faq__inner .faq__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .faq .faq__inner .faq__content .accordion {
        width: 715px; }
        .faq .faq__inner .faq__content .accordion .accordion__title {
          font-size: 18px;
          font-family: "NunitoBold", sans-serif;
          color: #2c0526;
          margin-top: 20px;
          padding: 30px;
          position: relative;
          box-shadow: 0 2px 9.2px 0.8px rgba(67, 6, 57, 0.12); }
          .faq .faq__inner .faq__content .accordion .accordion__title:focus {
            outline: none; }
        .faq .faq__inner .faq__content .accordion .accordion__text_phone {
          font-family: "NunitoBold", sans-serif;
          color: #721163; }
        .faq .faq__inner .faq__content .accordion .accordion__text {
          margin: 0;
          color: #2c0526;
          font-size: 14px;
          font-family: "NunitoRegular", sans-serif;
          max-width: 570px; }
        .faq .faq__inner .faq__content .accordion .accordion__list {
          padding: 0 0 0 30px;
          list-style-type: circle;
          padding-inline-start: 18px;
          margin: 10px 0; }
          .faq .faq__inner .faq__content .accordion .accordion__list .accordion__list-content {
            font-size: 14px;
            font-family: "NunitoRegular", sans-serif;
            color: #2c0526; }
      .faq .faq__inner .faq__content .faq-form {
        width: 465px;
        border-radius: 8px;
        background-color: #faf7fa;
        box-shadow: 0 2px 9.2px 0.8px rgba(67, 6, 57, 0.12);
        padding: 30px 37px;
        box-sizing: border-box;
        position: relative; }
        .faq .faq__inner .faq__content .faq-form:before {
          position: absolute;
          content: url("../images/bg-flowers/faq-form.png");
          bottom: 0;
          right: 43px; }
        .faq .faq__inner .faq__content .faq-form .faq-form__text {
          font-size: 18px;
          font-family: "NunitoRegular", sans-serif;
          color: #2c0526;
          text-align: center;
          width: 400px;
          margin: 0 auto; }
        .faq .faq__inner .faq__content .faq-form .faq-form__text_phone {
          font-family: "NunitoBold", sans-serif;
          color: #721163; }
        .faq .faq__inner .faq__content .faq-form .faq-form__form-content {
          text-align: center;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          margin-top: 30px; }
          .faq .faq__inner .faq__content .faq-form .faq-form__form-content .form-input {
            border-width: 1px;
            border-color: #721163;
            border-style: solid;
            background-color: #f5eff3;
            border-radius: 25px;
            color: #2c0526; }
            .faq .faq__inner .faq__content .faq-form .faq-form__form-content .form-input:focus {
              outline: none; }
            .faq .faq__inner .faq__content .faq-form .faq-form__form-content .form-input::placeholder {
              font-size: 14px;
              color: #721163;
              font-family: "NunitoSemiBold", sans-serif; }
          .faq .faq__inner .faq__content .faq-form .faq-form__form-content .faq-form__input-wrap {
            margin-bottom: 15px; }
            .faq .faq__inner .faq__content .faq-form .faq-form__form-content .faq-form__input-wrap .faq-form__input {
              padding: 14px 101px 14px 30px; }
            .faq .faq__inner .faq__content .faq-form .faq-form__form-content .faq-form__input-wrap .faq-form__error {
              margin: 5px 0 0 10px; }
          .faq .faq__inner .faq__content .faq-form .faq-form__form-content .faq-form__button {
            background-color: #721163;
            font-size: 16px;
            color: white;
            outline: 0;
            border-radius: 50px;
            border: 0;
            transition: all 0.3s linear;
            padding: 14px 90px;
            font-size: 16px; }
            .faq .faq__inner .faq__content .faq-form .faq-form__form-content .faq-form__button:hover {
              cursor: pointer;
              background-color: #df8ad2; }

.contacts {
  overflow: hidden; }
  .contacts .contacts__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 110px 0 200px 0; }
    .contacts .contacts__inner .contacts__text {
      display: inline-block;
      vertical-align: top;
      margin-right: 33px; }
      .contacts .contacts__inner .contacts__text .contacts__title {
        font-family: "NunitoBold", sans-serif;
        color: #430639;
        margin: 0;
        font-size: 30px;
        margin-bottom: 14px;
        position: relative; }
        .contacts .contacts__inner .contacts__text .contacts__title:before {
          position: absolute;
          content: url("../images/bg-flowers/contacts-title-top-right.png");
          bottom: 25px;
          right: -857px; }
        .contacts .contacts__inner .contacts__text .contacts__title:after {
          position: absolute;
          content: url("../images/bg-flowers/contacts-title-left-bottom.png");
          bottom: -565px;
          left: -180px; }
      .contacts .contacts__inner .contacts__text .contacts__content {
        margin-top: 40px; }
        .contacts .contacts__inner .contacts__text .contacts__content .contact__title {
          font-size: 20px;
          color: #2c0526;
          margin: 0 0 15px 0; }
        .contacts .contacts__inner .contacts__text .contacts__content .contact__text {
          margin: 0;
          font-family: "NunitoRegular", sans-serif; }
        .contacts .contacts__inner .contacts__text .contacts__content:nth-child(3) {
          margin-left: 100px; }
        .contacts .contacts__inner .contacts__text .contacts__content:nth-child(4) {
          margin-left: 100px; }
    .contacts .contacts__inner .contacts__map {
      width: 790px;
      height: 420px;
      display: inline-block;
      position: relative; }
      .contacts .contacts__inner .contacts__map:before {
        position: absolute;
        content: url("../images/bg-flowers/contacts-map-bottom-right.png");
        bottom: -27px;
        right: -122px; }
      .contacts .contacts__inner .contacts__map:after {
        position: absolute;
        content: url("../images/bg-flowers/contacts-map-top-right.png");
        bottom: 160px;
        right: -175px; }

.footer {
  background-color: #faf7fa; }
  .footer .footer__inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0; }
    .footer .footer__inner .socials {
      display: flex;
      justify-content: space-between;
      width: 217px;
      align-items: center;
      margin-right: 130px; }
      .footer .footer__inner .socials .socials__icon {
        max-width: 34px;
        height: 24px;
        fill: #2c0526;
        transition: all 0.5s linear; }
        .footer .footer__inner .socials .socials__icon:hover {
          fill: #721163;
          cursor: pointer;
          transform: scale(1.2); }
        .footer .footer__inner .socials .socials__icon:first-child {
          height: 50px; }
        .footer .footer__inner .socials .socials__icon:last-child {
          height: 50px; }
    .footer .footer__inner .logo {
      text-decoration: none;
      font-size: 10px;
      color: #430639;
      text-transform: uppercase;
      width: 150px;
      text-align: center; }
      .footer .footer__inner .logo .logo__c-name_style {
        font-size: 55px;
        font-family: "Marguaritas", serif;
        color: #430639;
        text-transform: none; }
    .footer .footer__inner .work-time {
      font-size: 14px;
      font-family: "NunitoRegular", sans-serif;
      color: #2c0526; }
    .footer .footer__inner .phone {
      font-size: 16px;
      color: #2c0526; }

#map > ymaps {
  border-radius: 8px;
  overflow: hidden; }

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: hue-rotate(185deg);
  -webkit-filter: hue-rotate(185deg); }

.ui-state-active {
  background-color: white;
  border: none; }

.ui-icon {
  background-image: url("../images/accordion-arrow.png");
  position: absolute;
  right: 32px;
  top: 40px;
  width: 22px; }

.ui-icon-triangle-1-e, .ui-icon-triangle-1-s {
  background-position: unset; }

.ui-state-hover .ui-icon {
  background-image: url("../images/accordion-arrow.png"); }

.ui-state-active .ui-icon {
  background-image: url("../images/accordion-arrow.png");
  transition: all 0.3s linear;
  transform: rotate(180deg); }

.ui-accordion .ui-accordion-content {
  padding: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 12px 11.2px -1px rgba(67, 6, 57, 0.1);
  position: relative;
  z-index: 1; }

.ui-accordion-header-active:after {
  content: url("../images/accordion-title--bottom-line.png");
  position: absolute;
  bottom: -6px;
  left: 30px;
  z-index: 2; }

.ui-widget-content {
  border: none; }

.ui-state-default {
  border: none;
  background-color: #faf7fa; }

.accordion .ui-accordion-header-collapsed {
  border-radius: 8px; }

.accordion .ui-accordion-header-active {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white; }

.faq .faq__inner .faq__content .accordion .accordion__title:first-child {
  margin-top: 0; }

.fancybox-caption__body {
  display: none; }

.fancybox-is-open .fancybox-bg {
  opacity: 0.96; }

.fancybox-bg {
  background: rgba(32, 4, 28, 0.8); }

.fancybox-button {
  background: rgba(255, 255, 255, 0.25); }

.fancybox-can-zoomIn .fancybox-content {
  cursor: default; }

.staff-carousel .slick-prev:before {
  content: url("../images/carousel-prev-arrow.png");
  position: absolute;
  bottom: -185px;
  left: 567px;
  z-index: 5; }

.staff-carousel .slick-next:before {
  content: url("../images/carousel-next-arrow.png");
  position: absolute;
  bottom: -185px;
  right: 594px;
  z-index: 5; }

.staff-carousel .slick-dots {
  position: relative;
  top: 30px;
  left: 555px;
  z-index: 1;
  width: 60px;
  margin: 0; }

.staff-carousel .slick-active a.dot {
  font-size: 18px;
  font-family: "NunitoBold", sans-serif;
  color: #721163; }

.staff-carousel a.dot {
  font-size: 18px;
  font-family: "NunitoRegular", sans-serif;
  color: rgba(114, 17, 99, 0.702); }

.info__gallery .gallery-carousel .slick-list.draggable {
  padding: 10px 50px !important; }

.info__gallery .gallery-carousel .slick-slide {
  margin: 0 12px 48px 12px;
  text-align: center; }
  .info__gallery .gallery-carousel .slick-slide:focus {
    outline: none; }

.info__gallery .gallery-carousel .slick-slide img {
  max-width: 100%; }

.info__gallery .gallery-carousel .slick-slide .gallery-carousel__img {
  opacity: 0.5; }

.info__gallery .gallery-carousel .slick-slide.slick-active .gallery-carousel__img {
  opacity: 1;
  transition: all 0.5s ease-in-out; }
  .info__gallery .gallery-carousel .slick-slide.slick-active .gallery-carousel__img:hover {
    transform: scale(1.05); }

.info__gallery .gallery-carousel .slick-dots li button:before {
  width: 17px;
  height: 17px;
  content: "";
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #721163;
  text-align: center;
  opacity: .8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s linear; }

.info__gallery .gallery-carousel ul.slick-dots li button:hover:before {
  background-color: #981c85;
  opacity: 0.7; }

.info__gallery .gallery-carousel .slick-dots li.slick-active button:before {
  background-color: #721163; }

.daterangepicker {
  border-radius: 15px;
  border: 1px solid #bfbabd; }
  .daterangepicker th.month {
    color: #721163;
    font-family: "NunitoBold", sans-serif;
    font-size: 15px; }
  .daterangepicker .calendar-table .prev span {
    width: 8px;
    height: 8px;
    position: relative;
    top: 2px;
    left: -2px;
    border: 0;
    background-image: url("../images/pop-up/form-data-prev-arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: unset;
    -webkit-transform: unset; }
  .daterangepicker .calendar-table .next span {
    width: 8px;
    height: 8px;
    position: relative;
    top: 2px;
    left: 2px;
    border: 0;
    background-image: url("../images/pop-up/form-data-next-arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: unset;
    -webkit-transform: unset; }
  .daterangepicker th.available:hover {
    background-color: rgba(156, 26, 135, 0.06); }
  .daterangepicker .calendar-table table thead {
    color: #721163;
    font-family: "NunitoBold", sans-serif; }
  .daterangepicker .calendar-table table tbody {
    color: #2c0526;
    font-family: "NunitoSemiBold", sans-serif; }
  .daterangepicker td.active {
    background-color: #721163;
    border-color: transparent;
    color: white;
    transition: all 0.3s linear; }
    .daterangepicker td.active:hover {
      background-color: #df8ad2; }
  .daterangepicker .calendar-table td {
    border-radius: 50px; }
  .daterangepicker td.start-date.end-date {
    border-radius: 50px; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect {
    background: rgba(223, 138, 210, 0.6);
    border: none;
    color: white;
    padding: 2px;
    outline: 0;
    font-size: 12px;
    font-family: "NunitoSemiBold", sans-serif;
    border-radius: 15px; }
  .daterangepicker .show-calendar .drp-buttons {
    text-align: center; }
  .daterangepicker .drp-buttons .btn {
    background-color: #721163;
    font-size: 16px;
    color: white;
    outline: 0;
    border-radius: 50px;
    border: 0;
    transition: all 0.3s linear;
    font-family: "NunitoRegular", sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 30px; }
    .daterangepicker .drp-buttons .btn:hover {
      cursor: pointer;
      background-color: #df8ad2; }

.hourselect option:nth-child(-n+9) {
  display: none; }

.hourselect option:nth-child(n+23) {
  display: none; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 93, 98, 0.702);
  display: none; }
  .popup .popup__field {
    position: relative; }
    .popup .popup__field .popup__cancel-wrap {
      position: absolute;
      top: 0px;
      right: -75px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #cec9cd;
      transition: all 0.3s linear;
      align-items: center;
      display: flex;
      justify-content: center; }
      .popup .popup__field .popup__cancel-wrap:hover {
        cursor: pointer;
        background-color: #eae5e9; }
    .popup .popup__field .popup__content {
      max-width: 430px;
      padding: 60px;
      border-radius: 15px;
      background-color: #faf7fa; }
      .popup .popup__field .popup__content .reserve-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative; }
        .popup .popup__field .popup__content .reserve-form .reserve-form__input-wrap {
          margin: 12px 0; }
          .popup .popup__field .popup__content .reserve-form .reserve-form__input-wrap:first-child {
            margin-top: 0; }
          .popup .popup__field .popup__content .reserve-form .reserve-form__input-wrap .reserve-form__input {
            width: 305px;
            box-sizing: border-box;
            border-width: 1px;
            border-color: #721163;
            border-style: solid;
            background-color: transparent;
            padding: 13px 20px;
            border-radius: 25px;
            color: #2c0526;
            font-size: 14px;
            font-family: "NunitoRegular", sans-serif; }
            .popup .popup__field .popup__content .reserve-form .reserve-form__input-wrap .reserve-form__input::placeholder {
              font-size: 14px;
              font-family: "NunitoRegular", sans-serif;
              color: #2c0526; }
            .popup .popup__field .popup__content .reserve-form .reserve-form__input-wrap .reserve-form__input:focus {
              outline: none; }
          .popup .popup__field .popup__content .reserve-form .reserve-form__input-wrap .reserve-form-select {
            appearance: none;
            background: no-repeat url("../images/pop-up/reserve-form-select-arrow.png");
            background-position: 90% 50%; }
          .popup .popup__field .popup__content .reserve-form .reserve-form__input-wrap .reserve-form__error {
            margin: 5px 0 0 10px; }
        .popup .popup__field .popup__content .reserve-form .reserve-form__btn {
          background-color: #721163;
          font-size: 16px;
          color: white;
          outline: 0;
          border-radius: 50px;
          border: 0;
          transition: all 0.3s linear;
          padding: 13px 57px;
          margin-top: 48px; }
          .popup .popup__field .popup__content .reserve-form .reserve-form__btn:hover {
            cursor: pointer;
            background-color: #df8ad2; }
    .popup .popup__field .popup-sent {
      max-width: 532px;
      box-sizing: border-box;
      border-radius: 15px;
      text-align: center;
      background-color: #faf7fa;
      display: none; }
      .popup .popup__field .popup-sent .popup-sent__title {
        font-size: 20px;
        font-family: "NunitoBold", sans-serif;
        color: #721163;
        margin: 0 0 20px 0; }
      .popup .popup__field .popup-sent .popup-sent__text {
        margin: 0;
        font-size: 18px;
        font-family: "NunitoRegular", sans-serif;
        color: #2c0526; }
    .popup .popup__field .popup__sent {
      padding: 190px 120px; }

.input-error {
  font-size: 12px;
  color: red;
  display: none; }

.faq-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 93, 98, 0.702);
  display: none; }
  .faq-popup .faq-popup__field {
    position: relative; }
    .faq-popup .faq-popup__field .faq-popup__cancel-wrap {
      position: absolute;
      top: 0px;
      right: -75px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #cec9cd;
      transition: all 0.3s linear;
      align-items: center;
      display: flex;
      justify-content: center; }
      .faq-popup .faq-popup__field .faq-popup__cancel-wrap:hover {
        cursor: pointer;
        background-color: #eae5e9; }
    .faq-popup .faq-popup__field .faq-popup-sent {
      max-width: 532px;
      box-sizing: border-box;
      border-radius: 15px;
      text-align: center;
      background-color: #faf7fa; }
      .faq-popup .faq-popup__field .faq-popup-sent .faq-popup-sent__title {
        font-size: 20px;
        font-family: "NunitoBold", sans-serif;
        color: #721163;
        margin: 0 0 20px 0; }
      .faq-popup .faq-popup__field .faq-popup-sent .faq-popup-sent__text {
        margin: 0;
        font-size: 18px;
        font-family: "NunitoRegular", sans-serif;
        color: #2c0526; }
    .faq-popup .faq-popup__field .faq-popup__sent {
      padding: 190px 120px; }

/*1201-1440*/
@media screen and (max-width: 1439px) {
  .main .header .header__inner {
    padding-left: 20px;
    padding-right: 20px; }
  .main .main__titles {
    padding-left: 20px;
    padding-right: 20px; }
  .about-us .about-us__features {
    padding-left: 20px;
    padding-right: 20px; }
  .info__gallery .gallery-carousel .gallery-carousel__img {
    width: 335px;
    height: 270px; } }

/*1024-1200*/
/*768-1023*/
/*580-767*/
/*480-579*/
/*320-479*/

/*# sourceMappingURL=main.css.map */
