
.staff-carousel {

  .slick-prev:before {
    content: url("../images/carousel-prev-arrow.png");
    position: absolute;
    bottom: -185px;
    left: 567px;
    z-index: 5;
  }

  .slick-next:before {
    content: url("../images/carousel-next-arrow.png");
    position: absolute;
    bottom: -185px;
    right: 594px;
    z-index: 5;
  }


  .slick-dots {
    position: relative;
    top: 30px;
    left: 555px;
    z-index: 1;
    width: 60px;
    margin: 0;
  }

  .slick-active a.dot {
    font-size: 18px;
    font-family: "NunitoBold", sans-serif;
    color: rgb(114, 17, 99);
  }

  a.dot {
    font-size: 18px;
    font-family: "NunitoRegular", sans-serif;
    color: rgba(114, 17, 99, 0.702);

  }
}

.info__gallery .gallery-carousel{

  .slick-list.draggable{
    padding: 10px 50px!important;
  }

  .slick-slide{
    margin : 0 12px 48px 12px;
    text-align: center;
    &:focus{
      outline: none;
    }
  }

  .slick-slide img{
    max-width: 100%;
  }
  .slick-slide .gallery-carousel__img{
    opacity: 0.5;
  }

  .slick-slide.slick-active .gallery-carousel__img{
    opacity: 1;
    transition: all 0.5s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
  }

  .slick-dots li button:before {
    width: 17px;
    height: 17px;
    content: "";
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #721163;
    text-align: center;
    opacity: .8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before{
    background-color: #721163;;
  }
}