@font-face {
  font-family: "NunitoRegular";
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "NunitoSemiBold";
  src: url("../fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "NunitoBold";
  src: url("../fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "NunitoExtraBold";
  src: url("../fonts/Nunito-ExtraBold.ttf");
}

@font-face {
  font-family: "Marguaritas";
  src: url("../fonts/Marguaritas.ttf");
}

body {
  margin: 0;
  font-family: "NunitoSemiBold", sans-serif;
}

$main-color: rgb(67, 6, 57);
$text-color: rgb(44, 5, 38);
$btn-hover: rgb(223, 138, 210);

@mixin menu-active {
  font-family: "NunitoExtraBold", sans-serif;
  color: rgb(114, 17, 99);
  border-bottom: 1px solid rgb(114, 17, 99);
}

@mixin title {
  font-family: "NunitoBold", sans-serif;
  color: $main-color;
  margin: 0;
}

@mixin btn {
  background-color: rgb(114, 17, 99);
  font-size: 16px;
  color: rgb(255, 255, 255);
  outline: 0;
  border-radius: 50px;
  border: 0;
  transition: all 0.3s linear;
  &:hover {
    cursor: pointer;
    background-color: $btn-hover;
  }
}

.main {
  background: no-repeat center url("../images/bg-images/main-bg.png");
  background-size: cover;

  .header {
    background: url("../images/bg-images/header-bg.png");
    z-index: 10000;


    .header__inner {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px 0 30px 0;
      align-items: center;
      position: relative;


      .menu {
        width: 350px;
        display: flex;
        justify-content: space-between;

        .menu__item {
          text-decoration: none;
          font-size: 13px;
          color: $text-color;
          border-bottom: 1px solid transparent;
          padding-bottom: 4px;
          transition: all 0.3s linear;

          &:hover {
            transform: scale(1.1);
            @include menu-active;
          }
        }
      }


      .logo {
        text-decoration: none;
        font-size: 10px;
        color: $main-color;
        text-transform: uppercase;
        width: 150px;
        text-align: center;

        .logo__c-name_style {
          font-size: 55px;
          font-family: "Marguaritas", serif;
          color: $main-color;
          text-transform: none;
        }

      }

      .header__logo {
        position: relative;
        right: 100px;
      }

      .phone {
        font-size: 14px;
        color: $text-color;
      }

    }
  }


  .titles {
    max-width: 1200px;


    .titles__title {
      @include title();
      font-size: 36px;
      width: 494px;
      line-height: 52px;
    }

    .titles__title_c-name {
      font-size: 70px;
      font-family: "Marguaritas", serif;
      color: $main-color;
      font-weight: normal;

    }

    .titles__text {
      font-size: 20px;
      color: $text-color;
      max-width: 470px;
      margin: 40px 0;
    }

    .titles__btn {
      @include btn();
      padding: 18px 36px;
      text-decoration: none;
      display: inline-block;
    }

  }
}

.main__titles {
  padding: 168px 0 280px 0;
  margin: 0 auto;
}


.about-us {
  overflow: hidden;

  .our-features {
    max-width: 1200px;

    .our-features__title {
      @include title();
      font-size: 30px;
      margin-bottom: 65px;
      position: relative;

      &:before {
        content: url("../images/bg-flowers/our-features-title-left.png");
        position: absolute;
        top: -137px;
        left: -268px;
        z-index: -1;
        overflow: hidden;
      }

      &:after {
        content: url("../images/bg-flowers/our-features-title-right.png");
        position: absolute;
        top: -60px;
        right: 0;
        z-index: -1;
      }

    }

    .features {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      &:before {
        content: url("../images/bg-flowers/features-left.png");
        position: absolute;
        top: 0;
        left: -332px;
        overflow: hidden;
      }

      &:after {
        content: url("../images/bg-flowers/features-right.png");
        position: absolute;
        bottom: 0;
        right: -270px;
      }


      .feature {
        display: flex;
        max-width: 426px;

        .feature__img-wrap {
          text-align: center;
          width: 114px;
          height: 93px;

          .feature__img {
            position: relative;
            top: -74px;
            left: -1px;
          }
        }

        .feature__text {
          font-size: 14px;
          font-family: "NunitoRegular", sans-serif;
          color: $text-color;
          margin: 19px 0 0 25px;
        }
      }


      .features__content {
        margin: 0 150px 45px 0;

        &:nth-child(3) {
          margin-left: 95px;
        }
      }
    }

  }

  .about-us__features {
    margin: 0 auto;
    padding: 150px 0 190px 0;

  }

  .our-services {
    max-width: 1200px;


    .our-services__title {
      @include title();
      font-size: 30px;
      position: relative;

      &:before {
        content: url("../images/bg-flowers/our-services-title-left.png");
        position: absolute;
        bottom: -212px;
        left: -440px;
        z-index: -1;
        overflow: hidden;
      }

      &:after {
        content: url("../images/bg-flowers/our-services-title-right.png");
        position: absolute;
        top: -35px;
        right: -90px;
        z-index: -1;
        overflow: hidden;
      }
    }

    .our-services__text {
      margin: 31px 0 45px 0;
      width: 575px;
      font-size: 16px;
      font-family: "NunitoRegular", sans-serif;
    }

    .services {
      display: flex;
      justify-content: space-between;
      position: relative;

      &:before {
        content: url("../images/bg-flowers/services-left.png");
        position: absolute;
        bottom: -40px;
        left: -155px;
        z-index: -1;
        overflow: hidden;
      }

      &:after {
        content: url("../images/bg-flowers/services-right.png");
        position: absolute;
        bottom: -122px;
        right: -319px;
        z-index: -1;
        overflow: hidden;
      }

      .service {
        border-radius: 8px;
        background-color: rgb(250, 247, 250);
        box-shadow: 0 2px 16.56px 1.44px rgba(44, 5, 38, 0.1);
        width: 282px;

        .service__content {
          padding: 26px 15px 30px 15px;

          .service__title {
            font-size: 16px;
          }

          .service__text {
            font-size: 14px;
            font-family: "NunitoRegular", sans-serif;
            color: $text-color;
            margin: 17px 0 25px 0;
            height: 95px;
          }

          .service__time {
            font-size: 12px;
            color: rgb(114, 17, 99);
            margin: 0 0 18px 0;
          }

          .service__details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .service__price {
              font-size: 16px;
              font-family: "NunitoBold", sans-serif;
              color: $text-color;
            }

            .service__btn {
              @include btn();
              height: 40px;
              padding: 0 23px;
            }
          }

        }
      }
    }
  }

  .about-us__services {
    margin: 0 auto;
    padding-bottom: 115px;
  }
}

.promotion {
  background: no-repeat center url("../images/bg-images/promotion-bg.png");
  background-size: cover;
  overflow: hidden;
  z-index: 1;

  .promotion__inner {
    padding: 170px 0 210px 0;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    z-index: 1;

    .promotion__title {
      @include title();
      font-size: 30px;
      position: relative;
      z-index: 10;

      &:after {
        content: url("../images/bg-flowers/promotion-title-left.png");
        position: absolute;
        top: -86px;
        left: -280px;
        z-index: 10;
        overflow: hidden;
      }

      &:before {
        content: url("../images/bg-images/promotion-big-circle.png");
        position: absolute;
        top: -175px;
        left: -315px;
        z-index: 5;
        overflow: hidden;
      }
    }

    .promotion__text {
      font-size: 18px;
      color: $text-color;
      margin: 30px 0;
      width: 354px;
      position: relative;
      z-index: 10;

      &:after {
        content: url("../images/bg-flowers/promotion-text-left.png");
        position: absolute;
        bottom: -183px;
        left: -348px;
        z-index: 10;
      }

      &:before {
        content: url("../images/bg-images/promotion-small-circle.png");
        position: absolute;
        top: -240px;
        left: -380px;
        z-index: 5;
        overflow: hidden;
      }
    }

    .promotion__button {
      @include btn();
      padding: 17px 40px;
      z-index: 10;
      position: relative;
    }
  }
}

.info__staff {
  max-width: 1200px;
  padding-top: 135px;
  margin: 0 auto;

}

.staff {
  .staff__title {
    @include title();
    font-size: 30px;
    position: relative;

    &:before {
      content: url("../images/bg-flowers/staff-title-right.png");
      position: absolute;
      top: -5px;
      right: 5px;
      overflow: hidden;
    }

    &:after {
      content: url("../images/bg-flowers/staff-title-top.png");
      position: absolute;
      top: -140px;
      right: 231px;
      overflow: hidden;
    }
  }

  .staff__text {
    max-width: 517px;
    margin: 30px 0 45px 0;
    font-size: 16px;
    font-family: "NunitoRegular", sans-serif;
    color: $text-color;
  }

  .staff-carousel {
    position: relative;

    &:before {
      position: absolute;
      content: url("../images/bg-flowers/staff-carousel-right-middle.png");
      top: 75px;
      right: -115px;
      overflow: hidden;
    }

    &:after {
      position: absolute;
      content: url("../images/bg-flowers/staff-carousel-right-bottom.png");
      bottom: -35px;
      right: -39px;
      z-index: -1;
      overflow: hidden;
    }

    .staff-carousel__content {
      height: 311px;
      overflow: hidden;

      &:focus {
        outline: none;
      }

      .staff-carousel__img {
        position: relative;

        &:focus {
          outline: none;
        }
      }

      .staff-carousel__text {
        position: relative;
        top: -90px;
        background-color: rgba(255, 255, 255, 0.75);
        width: 251px;
        padding: 10px 0 10px 20px;
        box-sizing: border-box;

        .staff-carousel__title {
          font-size: 18px;
          font-family: "NunitoBold", sans-serif;
          color: $text-color;
          margin: 0;
        }

        .staff-carousel__exp {
          font-size: 14px;
          font-family: "NunitoRegular", sans-serif;
          color: $text-color;
          margin: 10px 0 0 0;
        }
      }
    }
  }
}


.info__gallery {
  padding: 155px 0 190px 0;
  position: relative;
  overflow: hidden;

  .gallery__inner {
    max-width: 1200px;
    margin: 0 auto;


    .gallery__title {
      @include title();
      font-size: 30px;
      margin: 0;
      position: relative;

      &:before {
        position: absolute;
        content: url("../images/bg-flowers/gallery-title-big-right.png");
        top:-136px;
        right: -190px;
        overflow: hidden;
      }

      &:after {
        position: absolute;
        content: url("../images/bg-flowers/gallery-title-small-right.png");
        bottom: -170px;
        right: -350px;
        z-index: -1;
        overflow: hidden;
      }
    }

    .gallery__text {
      width: 685px;
      font-size: 16px;
      font-family: "NunitoRegular", sans-serif;
      color: $text-color;
      margin: 30px 0 50px 0;
    }
  }

  .gallery-carousel {
    position: relative;

    .gallery-carousel__img {
      width: 385px;
      height: 295px;
    }

  }


  .gallery-arrows {
    position: relative;
    width: 304px;
    margin: 0 auto;

    &:before {
      position: absolute;
      content: url("../images/bg-flowers/gallery-arrows-left.png");
      bottom: -60px;
      left: -630px;
      overflow: hidden;
    }

    &:after {
      position: absolute;
      content: url("../images/bg-flowers/gallery-arrows-right.png");
      bottom: -50px;
      right: -395px;
      overflow: hidden;
      z-index: -1;
    }

    .gallery-arrows__prev {
      position: absolute;
      bottom: 1px;
      left: -13px;

      &:hover {
        cursor: pointer;
      }
    }

    .gallery-arrows__next {
      position: absolute;
      bottom: 1px;
      right: -13px;

      &:hover {
        cursor: pointer;
      }
    }
  }


}

.faq {
  background: no-repeat center url("../images/bg-images/faq-bg-img.png");
  background-size: cover;
  height: 900px;

  .faq__title {
    @include title();
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;

    &:before {
      position: absolute;
      content: url("../images/bg-flowers/faq-title-left-top.png");
      bottom: -183px;
      left: -260px;
      overflow: hidden;
    }

    &:after {
      position: absolute;
      content: url("../images/bg-flowers/faq-title-left-bottom.png");
      bottom: -575px;
      left: -395px;
      overflow: hidden;
    }
  }

  .faq__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 0;

    .faq__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .accordion {
        width: 715px;

        .accordion__title {
          font-size: 18px;
          font-family: "NunitoBold", sans-serif;
          color: $text-color;
          margin-top: 20px;
          padding: 30px;
          position: relative;
          box-shadow: 0 2px 9.2px 0.8px rgba(67, 6, 57, 0.12);

          &:focus {
            outline: none;
          }
        }

        .accordion__text_phone {
          font-family: "NunitoBold", sans-serif;
          color: rgb(114, 17, 99);
        }

        .accordion__text {
          margin: 0;
          color: $text-color;
          font-size: 14px;
          font-family: "NunitoRegular", sans-serif;
          max-width: 570px;
        }

        .accordion__list {
          padding: 0 0 0 30px;
          list-style-type: circle;
          padding-inline-start: 18px;
          margin: 10px 0;

          .accordion__list-content {
            font-size: 14px;
            font-family: "NunitoRegular", sans-serif;
            color: $text-color;

          }

        }


      }


      .faq-form {
        width: 465px;
        border-radius: 8px;
        background-color: rgb(250, 247, 250);
        box-shadow: 0 2px 9.2px 0.8px rgba(67, 6, 57, 0.12);
        padding: 30px 37px;
        box-sizing: border-box;
        position: relative;

        &:before {
          position: absolute;
          content: url("../images/bg-flowers/faq-form.png");
          bottom: 0;
          right: 43px;
          overflow: hidden;
        }


        .faq-form__text {
          font-size: 18px;
          font-family: "NunitoRegular", sans-serif;
          color: $text-color;
          text-align: center;
          width: 400px;
          margin: 0 auto;
        }

        .faq-form__text_phone {
          font-family: "NunitoBold", sans-serif;
          color: rgb(114, 17, 99);
        }

        .faq-form__form-content {
          text-align: center;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;

          .form-input {
            border-width: 1px;
            border-color: rgb(114, 17, 99);
            border-style: solid;
            background-color: rgb(245, 239, 243);
            border-radius: 25px;
            color: $text-color;

            &:focus {
              outline: none;
            }

            &::placeholder {
              font-size: 14px;
              color: rgb(114, 17, 99);
              font-family: "NunitoSemiBold", sans-serif;
            }
          }

          .faq-form__input-wrap {
            margin-bottom: 15px;

            .faq-form__input {
              padding: 14px 101px 14px 30px;
            }

            .faq-form__error {
              margin: 5px 0 0 10px;
            }
          }

          .faq-form__button {
            @include btn();
            padding: 14px 90px;
            font-size: 16px;
          }
        }

      }

    }
  }
}

.contacts {
  overflow: hidden;

  .contacts__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 110px 0 200px 0;


    .contacts__text {
      display: inline-block;
      vertical-align: top;
      margin-right: 33px;

      .contacts__title {
        @include title();
        font-size: 30px;
        margin-bottom: 14px;
        position: relative;

        &:before {
          position: absolute;
          content: url("../images/bg-flowers/contacts-title-top-right.png");
          bottom: 25px;
          right: -857px;
          overflow: hidden;
        }

        &:after {
          position: absolute;
          content: url("../images/bg-flowers/contacts-title-left-bottom.png");
          bottom: -565px;
          left: -180px;
        }
      }

      .contacts__content {
        margin-top: 40px;

        .contact__title {
          font-size: 20px;
          color: $text-color;
          margin: 0 0 15px 0;
        }

        .contact__text {
          margin: 0;
          font-family: "NunitoRegular", sans-serif;
        }

        &:nth-child(3) {
          margin-left: 100px;
        }

        &:nth-child(4) {
          margin-left: 100px;
        }
      }


    }

    .contacts__map-wrap{
      width: 790px;
      height: 420px;
      display: inline-block;
      position: relative;
    }

    .contacts__map {


      &:before {
        position: absolute;
        content: url("../images/bg-flowers/contacts-map-bottom-right.png");
        bottom: -27px;
        right: -122px;
        overflow: hidden;
      }

      &:after {
        position: absolute;
        content: url("../images/bg-flowers/contacts-map-top-right.png");
        bottom: 160px;
        right: -175px;
        overflow: hidden;
      }
    }
  }

}

.footer {
  background-color: rgb(250, 247, 250);

  .footer__inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

    .socials {
      display: flex;
      justify-content: space-between;
      width: 217px;
      align-items: center;
      margin-right: 130px;

      .socials__icon {
        max-width: 34px;
        height: 24px;
        fill: $text-color;
        transition: all 0.5s linear;

        &:hover {
          fill: rgb(114, 17, 99);
          cursor: pointer;
          transform: scale(1.2);
        }

        &:first-child {
          height: 50px;
        }

        &:last-child {
          height: 50px;
        }
      }

    }

    .logo {
      text-decoration: none;
      font-size: 10px;
      color: $main-color;
      text-transform: uppercase;
      width: 150px;
      text-align: center;

      .logo__c-name_style {
        font-size: 55px;
        font-family: "Marguaritas", serif;
        color: $main-color;
        text-transform: none;
      }
    }

    .work-time {
      font-size: 14px;
      font-family: "NunitoRegular", sans-serif;
      color: $text-color;
    }

    .phone {
      font-size: 16px;
      color: $text-color;
    }

  }

}

.menu-adaptive{
  display: none;
  width: 35px;
  height: 35px;
  fill: $text-color;
}


.header-fixed{
  position: fixed;
  width: 100%;
}


//скругление для yandex maps

#map > ymaps {
  border-radius: 8px;
  overflow: hidden;
}

//стилизация цветовой палитры под макет сайта

[class*="ymaps-2"][class*="-ground-pane"] {

  filter: hue-rotate(185deg);
  -webkit-filter: hue-rotate(185deg);
}


@import "accordion-custom";
@import "fancybox-custom";
@import "carousel-custom";
@import "calendar-custom";
@import "pop-up";
@import "adaptive";
















